@import'./_variables';
@import './_mixins';
@import './general';
@import './blocks/header';
@import './blocks/brand';
@import './blocks/sales';
@import './blocks/products';
@import './blocks/about';
@import './blocks/subscription';
@import './blocks/footer';
@import './blocks/register';
@import './blocks/auth';
@import './blocks/privielege'