.footer {
  background-color: #222224;
}

.footer__main {
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
  }
  
  .footer__copyright {
    font-size: 16px;
    line-height: 19px;
    color: #fbfbfb;
    align-self: center;
  }
  
  
  .social-exp {
    display: inline;
  }
  
  .social-exp:hover .social-link {
    fill: pink;
  }
  