.privielge__title{
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin-bottom: 22px;
    margin-top: 64px;
}

.privielge__desc{
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    width: 652px;
    margin-bottom: 21px;
}



.privielege__item{
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin-bottom: 16px;
    list-style-image: url(../../img/checkmark.svg);
    margin-left: 25px;
}

.privielege__item-text{
    padding-left: 23px;
}
