.products__head {
    text-align: center;
  }
  
  .products__head-title {
    font-size: 30px;
    line-height: 36px;
  }
  
  .products__head-text {
    margin-top: 6px;
    margin-bottom: 48px;
    font-size: 14px;
    line-height: 17px;
    color: #9f9f9f;
  }
  
  .products__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .product__item {
    width: 360px;
    background-color: $grey-bkg;
    margin-bottom: 30px;
    position: relative;
  }
  
  .product__item-title {
    margin-top: 25px;
    font-size: 13px;
    line-height: 16px;
    color: $black;
  }
  
  .product__item-desc {
    margin-top: 12px;
    font-weight: 300;
    width: 315px;
    color: #5d5d5d;
  }
  
  .product__item-price {
    margin-top: 18px;
    font-size: 16px;
    line-height: 19px;
    color: #f16d7f;
  }
  
  .products__button-wrp {
    display: flex;
    justify-content: center;
  }
  
  .products__button {
    border: 1px solid #ff6a6a;
    background-color: transparent;
    padding: 15px 39px;
    margin-top: 48px;
    margin-bottom: 95px;
    font-size: 16px;
    line-height: 19px;
    color: #f26376;
  }
  
  .products__button:hover {
    background: #f16d7f;
    color: #ffffff;
  }

  .italic {
    font-style: italic;
  }

  .overlay,
  .buy-button {
    display: none;
  }
  